<!DOCTYPE html>
<html>
<head>
    <title>OTP Demo</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css')}}">
</head>
<body>
    <div class="container">
        <h2>Login</h2>

        {% if valid is defined %}

        {% if valid %}
        <h3 style="color : green">Connexion réussie avec OTP valide!</h3>
        {% else %}
        <h3 style="color : red">Connexion échouée avec OTP invalide!</h3>
        {% endif %}
        {% endif %}
        
        {% if not valid %}
        <form id="login-form">
            <input type="text" name="username" placeholder="Username" required>
            <input type="password" name="password" placeholder="Password" required>
            <button type="submit">Login</button>
        </form>
        {% endif %}
    </div>

    <div id="otpModal" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <form id="otp-form">
                <label><input type="radio" name="otpType" value="totp" checked> TOTP</label>
                <label><input type="radio" name="otpType" value="hotp"> HOTP</label>
                <input type="text" name="otpCode" placeholder="OTP Code" required>
                <button type="submit">Validate OTP</button>
            </form>
        </div>
    </div>

    <script>
        document.getElementById('login-form').addEventListener('submit', function(event) {
            event.preventDefault();
            document.getElementById('otpModal').style.display = 'block';
        });

        document.getElementById('otp-form').addEventListener('submit', function(event) {
            event.preventDefault();
            var otpType = document.querySelector('input[name="otpType"]:checked').value;
            var otpCode = this.otpCode.value;
            window.location.href = `/validate-otp?otpType=${otpType}&otpCode=${otpCode}`;
        });

        document.getElementsByClassName('close')[0].onclick = function() {
            document.getElementById('otpModal').style.display = 'none';
        };
    </script>
</body>
</html>